<!DOCTYPE html>
<html>
<head>
  <title>Csciproj1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "defaults", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <% flash.each do |name,msg| %>
        <%= content_tag( :div, msg, class: "alert laert -#{name}") %>
<% end %>

<%= yield %>

</body>
</html>
